body {
  background-color: #282c34;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  height: calc(100% - 60px);
}

#root {
  min-height: 100%;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.header {
  align-self: flex-start;
  display: flex;
  line-height: 1;
  margin-bottom: 30px;
  white-space: nowrap;
  max-width: calc(100% + 10px);
  overflow: auto;
  margin: 0 -20px 30px;
  padding-left: 30px;
}

.navLink {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 150ms ease-in-out;
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navLink span {
  text-decoration: underline;
}

.navLink .far {
  margin-left: 5px;
  font-size: 12px;
}

.fa-twitter {
  margin: 0 5px;
}

.navLink:hover {
  color: rgba(255, 255, 255, 1);
}

.siteName {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  padding: 15px;
}

.symbolButton,
.resetButton {
  background: none;
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: inherit;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 30px;
}

.symbolButton {
  margin: 0;
}

.plates {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}

.plate {
  margin: 0 15px 30px;
}

.plate-title {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.plate-title-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  appearance: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-align: inherit;
}

.Modal {
  background: #292c34;
  color: white;
  max-height: 100%;
  overflow: auto;
  padding: 15px;
  padding-bottom: 25px;
  text-align: center;
  outline: none !important;
  border: 1px solid #292c34;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.Modal small {
  color: rgba(255, 255, 255, 0.75);
}

.Modal small a {
  color: white;
}

.ModalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  /* opacity: 0; */
  transform: translateY(70px);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ReactModal__Content--after-open {
  /* opacity: 1; */
  transform: translateY(0px);
}

.ReactModal__Content--before-close {
  /* opacity: 0; */
  transform: translateY(70px);
}
